body{
  background-color: #eee;
}

#app{
  display: flex;
  font-family: 'Roboto', sans-serif;
}

#app div{
  flex-grow: 1;
  background-color: #fff;
  margin: 5px;
  margin-top: 0px;
}

#meals{
  margin-left: 0px;
}

#orders {
  margin-left: 0px;
}

ul {
  list-style-type: none ;
}

#submit {
  background-color: #2a91bd;
  color: #fff;
  padding: 10px 15px;
  border: solid 0px;
  border-radius: 25px;
  margin: 15px;
  margin-left: 30px;
}

#submit:disabled{
  background-color: #ccc;
}

#meals-list li{
  cursor: pointer;
}

.selected {
  background-color: #eee;
}

#app .form-main {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 15px;
  padding-bottom: 30px;
}

.login-form {
  margin-bottom: 5px;
  font-size: 14px;
}

form input {
  width: calc(100% - 10px);
  height: 24px;
  padding-left: 5px;
  background-color: #dedede;
  border: solid 0px;
  border-radius: 4px;
  color: #555;
}

.btn {
  border: solid 0px;
  padding: 10px 15px;
  background-color: #2280cc;
  color: #fff;
  border-radius: 4px;
  margin-top: 15px;
}

.block {
  width: calc(100% - 4px);
}

.form-tittle {
  text-align: center;
  font-size: 24px;
}