body{
  background-color: #eee;
  display: flex;
}

body div{
  flex-grow: 1;
  background-color: #fff;
  margin: 5px;
  margin-top: 0px;
}

/* body div:first-child{
  margin-left: 0px;
} */

#orders {
  margin-left: 0px;
}

ul {
  list-style-type: none ;
}

#submit {
  background-color: #2a91bd;
  color: #fff;
  padding: 10px 15px;
  border: solid 0px;
  border-radius: 25px;
  margin: 15px;
  margin-left: 30px;
}

#submit:disabled{
  background-color: #ccc;
}

#meals-list li{
  cursor: pointer;
}

.selected {
  background-color: #eee;
}

.form-main {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 100px;
}