body{
  background-color: #eee;
}

p{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
  font-style: oblique;
  font-size: 1.5em;
  color: #222fff;
  text-align: left;
  text-indent: 40px;
  line-height: 1.7;
  word-spacing: 10px;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}
