body{
  background-color: #eee;
  font-family: 'Roboto', sans-serif;
}

.grid{
  display: grid;
  grid-template-rows: repeat(2, [row-inicio] 50px [row-fin]);
  grid-template-columns: repeat(3, [col-inicio] 1fr [col-fin]);
  /* grid-row-gap: 20px;
  grid-column-gap:10px; */
  grid-gap: 20px 10px;
  gap: 20px 10px;
}

.element{
  background-color: red;
}

.header{
  grid-column: col-inicio / col-fin 3;
  grid-row: row-inicio / row-fin 3;
}

